<nav class="blue darken-3">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/" routerLinkActive="router-link-active">Home</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/users">Users</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/posts">Posts</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/users">Users</a></li>
  <li><a routerLink="/posts">Posts</a></li>
</ul>
